{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load widget_tweaks %}
{% block title %} Sign in {% endblock %}

{% block content %}
<div class="row">
      <div class="col-md-3">
          <!-- offset -->
      </div>

      <div class="col-md-6">
            <h1>Send data</h1>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    {% csrf_token %}

                    <div class="form-group">
                      {{ form.Project_Name|add_class:"form-control" }}
                      {% for error in form.Project_Name.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    </div>

                    <div class="form-group">
                      {{ form.Project_FileSourcePathName|add_class:"form-control" }}
                      {% for error in form.Project_FileSourcePathName.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    </div>

                    <div class="form-group">
                      {{ form.Project_Description|add_class:"form-control" }}
                      {% for error in form.Project_Description.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            {{ form.Project_IsPublic|add_class:"form-check-input"|attr:"id:Project_IsPublic" }}
                            <label class="form-check-label" for="Project_IsPublic">Is Public</label>
                        </div>
                        {% for error in form.Project_IsPublic.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <button type="submit" value="Send" class="btn btn-dark">Send</button>
                </div>
            </form>
      </div>
</div>
{% endblock %}
