{% extends 'base.html' %}
{% load static %}
{% block title %} view {% endblock %}
{% block content %}


<h4>Name: {{ batch.Project_Name }}</h4>
<p>Received DateTime: {{ batch.Batch_Received_DateTime }}</p>
<p>Description: {{ batch.Project_Description }}</p>
<p>Status:</p>
<p>Names of columns input:</p>
<p>Names of columns output:</p>
<p>Acuracy:</p>

<a href=""#">Analyse of data</a><br>
<br>

<!-- View first 5 lines and last 5 lines of csv -->
<table class="table table-hover table-sm">
    <thead>
    <tr>
    {% for name in csv_title %}
        <th>{{ name }}</th>
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in csv_first %}
    <tr class="cursor-pointer">
        {% for dada in row %}
            <td>{{ dada }}</td>
        {% endfor %}
    </tr>
    {% endfor %}

    {% if csv_last %}
    <tr class="cursor-pointer">
        {% for dada in csv_title %}
            <td>...</td>
        {% endfor %}
    </tr>

    {% for row in csv_last %}
    <tr class="cursor-pointer">
        {% for dada in row %}
            <td>{{ dada }}</td>
        {% endfor %}
    </tr>
    {% endfor %}

    {% endif %}
    </tbody>
</table>
<br>
<br>

<!-- Display table with information of analyse -->
<div class="d-none">
    <p>file format, csv format</p>
    <p>first line : title</p>
    <p>Column Type</p>
    <p>#columns, #lines</p>
    <p>#lines to predict (lines with partial data)</p>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
            <tr>
                <th>c1</th>
                <th>c2</th>
                <th>c3</th>
                <th>c4</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table">
            <thead>
            <tr>
                <th>c1</th>
                <th>c2</th>
                <th>c3</th>
                <th>c4</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
